# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
# OS specific files
*~
*.lock
.DS_Store
.*.swp
*.out
Thumbs.db

# IDE files to ignore (Netbeans, Eclipse, Aptana, Sublime Text)
nbproject/
.build/
build.log
.buildpath
.classpath
.project
.settings
.settings/
.idea/
*.sublime-project
*.sublime-workspace


# ignore generated .class files
*.class

# except this file
!.gitignore
